/* this is the style file */
/*  why are you here? */

.aia193 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia193 img {
 max-width: 100%;
 max-height: 100%;
}
.hmiintensitygram {
  position: absolute;
  top: 900px;
  left: 0px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hmiintensitygram img {
  max-width: 100%;
  max-height: 100%;
}
.aia171 {
  position: absolute;
  top: 0px;
  left: 300px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia171 img {
  max-width: 100%;
  max-height: 100%;
}
.buttonn {
  position: absolute;
  left: 900px;
}
.j_out {
  position: absolute;
  left: 300px;
  top: 30px;
}
.hmimagnetogram {
  position: absolute;
  top: 900px;
  left: 300px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hmimagnetogram img {
  max-width: 100%;
  max-height: 100%;
}
.aia094 {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia094 img {
  max-width: 100%;
  max-height: 100%;
}
.aia131 {
  position: absolute;
  top: 300px;
  left: 0px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia131 img {
  max-width: 100%;
  max-height: 100%;
}
.aia211 {
  position: absolute;
  top: 0px;
  left: 600px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia211 img {
  max-width: 100%;
  max-height: 100%;
}
.aia335 {
  position: absolute;
  top: 300px;
  left: 600px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia335 img {
  max-width: 100%;
  max-height: 100%;
}
.aia304 {
  position: absolute;
  top: 600px;
  left: 0px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia304 img {
  max-width: 100%;
  max-height: 100%;
}
.aia1600 {
  position: absolute;
  top: 600px;
  left: 300px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia1600 img {
  max-width: 100%;
  max-height: 100%;
}
.aia1700 {
  position: absolute;
  top: 600px;
  left: 600px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aia1700 img {
  max-width: 100%;
  max-height: 100%;
}
.hmidopplergram {
  position: absolute;
  top: 900px;
  left: 600px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hmidopplergram img {
  max-width: 100%;
  max-height: 100%;
}
.bottom {
  position: absolute;
  top: 1200px;
}

/* just to suffer? */
